    <hr style="height:2px;border:none;color:#1C0C5B;background-color:#1C0C5B;margin-top: 100px;" class="container">

    <div class="footer">
        <div class="container d-flex">
            <div class="col-4">
                <img src="/img/9232021.png" alt="" style="margin-bottom: 20px;">
                <p>(+84) 0258 390 9988</p>
                <p>info@moonlight.com</p>
                <p>624 Garden Lane</p>
            </div>
            <div class="col-5 text-uppercase">
                <p>Policy</p>
                <a href="#">Chính sách và quy định</a>
            </div>
            <div class="col-3 text-uppercase">
                <p>Phòng Nghỉ</p>
                <a href="#">Family Room</a>
                <br>
                <a href="#">Senior Deluxe</a>
                <br>
                <a href="#">Deluxe</a>
                <br>
                <a href="#">Superior</a>
            </div>
        </div>
    
        <div class="text-center">
            <p>2023 © Moonlight Hotel. All Right Reserved. Design and developed by me</p>
        </div>
    </div>